<table align="center">
  <tr>
  <td>
 <table class="tabelcs">
   <h1> Messages </h1>
  <tr>
    <th>Sender Name</th>
    <th>Message</th>
  </tr>
<% @message &&  @message.each do |f| %>
          <tr>
            <td><%=f.sendername%></td>
            <td><%=f.msg%></td>
          </tr>
  <% end %>
       </table>
  </td>
  <td>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </td>
  <td>
    <table class="tabelcs">
      <h1> Contacts </h1>
    <tr>
    <th>Name</th>
    <th>Phone</th>
     <th>E-mail</th>
    <th>Addess</th>
    <th></th>
    <th></th>
  </tr>
<% @contact &&  @contact.each do |g| %>
          <tr>
           <td><%=g.name%></td>
            <td><%=g.phone%></td>
	    <td><%=g.email%></td>
            <td><%=g.address%></td>
	      <td><%= link_to 'Edit', edit_contact_path(g) %></td>
              <td><%= link_to 'Destroy', contact_path(g),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          </tr>
  <% end %>
     </table>
  </td>
  </tr>
  </table>

<div style="text-align: center;position: fixed;top: 9%;left: 5%;">
<%= link_to 'New Message', new_message_path %>
<div>

<div style="text-align: center;position: fixed;top: 12%;left: 5%;">
<%= link_to 'View contacts', contacts_path %>
<div>
