<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= session[:current_user_id].present? ? (link_to 'logout', login_path) : "login" %>
<%= flash[:notice]%>
<%= yield %>
</body>
</html>
